# Environment
NODE_ENV=production

# AI envs
AI_API_KEY=your_api_key_here
MCP_SERVER_URL=http://localhost:3002/api/ai-manager/v1/mcp

# DATABASE envs
GIG_DB_URL=postgres://postgres:postgres@localhost:5432/gig_db
PRIVATE_GIG_DB_URL=postgres://postgres:postgres@localhost:5432/private_gig_db

# FIREBASE envs
GOOGLE_SERVICE_ACCOUNT=

# REDIS envs
REDIS_HOST=
REDIS_PORT=
