# Environment
NODE_ENV="development"

# DATABASE envs
GIG_DB_URL="postgresql://postgres:postgres@localhost:5432/gig_db"
PRIVATE_GIG_DB_URL="postgresql://postgres:postgres@localhost:5432/private_gig_db"

# JWT Secrets
ENV_JWT_SECRET="your_env_jwt_secret"