# Environment
NODE_ENV=production

# AI envs
AI_API_KEY=your_api_key_here
MCP_SERVER_URL=http://localhost:3002/api/ai-manager/v1/mcp

# DATABASE envs
GIG_DB_URL=postgres://postgres:postgres@localhost:5432/gig_db
PRIVATE_GIG_DB_URL=postgres://postgres:postgres@localhost:5432/private_gig_db

# FIREBASE envs
GOOGLE_SERVICE_ACCOUNT="your_base64_google_service_account_here"

# REDIS envs
REDIS_CREDENTIALS="your_base64_redis_credentials_here"
